.adminContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.adminContainer button{
    padding: 10px 30px;
    border-width: 5px;
    border-color: white;
    border-radius: 15px;
    transition: 1s;
    overflow: hidden;
}

.adminContainer button:hover{
    color: black;
    background-color: white;
}